In [2]:
import sqlparse

## Basic Execution Planner

In [3]:
basic_select = "SELECT a,b,c FROM table WHERE column = 'value';"

In [4]:
select_stmt = sqlparse.parse(basic_select)[0]

In [14]:
select_stmt._pprint_tree()

|- 0 DML 'SELECT'
|- 1 Whitespace ' '
|- 2 IdentifierList 'a,b,c'
|  |- 0 Identifier 'a'
|  |  `- 0 Name 'a'
|  |- 1 Punctuation ','
|  |- 2 Identifier 'b'
|  |  `- 0 Name 'b'
|  |- 3 Punctuation ','
|  `- 4 Identifier 'c'
|     `- 0 Name 'c'
|- 3 Whitespace ' '
|- 4 Keyword 'FROM'
|- 5 Whitespace ' '
|- 6 Keyword 'table'
|- 7 Whitespace ' '
`- 8 Where 'WHERE ...'
   |- 0 Keyword 'WHERE'
   |- 1 Whitespace ' '
   |- 2 Keyword 'column'
   |- 3 Whitespace ' '
   |- 4 Comparison '='
   |- 5 Whitespace ' '
   |- 6 Single "'value'"
   `- 7 Punctuation ';'

In [23]:
for t in select_stmt.tokens:
    print(t.is_group, t._get_repr_name(), t._get_repr_value())

False DML SELECT
False Whitespace
True IdentifierList a,b,c
False Whitespace
False Keyword FROM
False Whitespace
False Keyword table
False Whitespace
True Where WHERE ...

In [16]:
def build_query_execution_plan(statement):
    # Extract the table name from the SQL statement
    from_clause = next(token for token in statement.tokens if token.ttype is None and token.value.upper().startswith('FROM'))
    print(from_clause)
    table_name = from_clause.get_real_name()
    
    # Generate the path to the table data
    table_data_path = f"/data/base/{table_name}.jsonl"
    
    # Build the execution plan
    execution_plan = {
        "table_name": table_name,
        "table_data_path": table_data_path,
        "query": str(statement)
    }
    
    return execution_plan

# Example usage
execution_plan = build_query_execution_plan(select_stmt)
print(execution_plan)

StopIteration: